<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button class="btn btn-primary"><a class="text-white" href="/celebrity">Go see
    celebrities</a></button>
<button class="btn btn-primary"><a class="text-white" href="/movie">Go see
    movies</a></button>